<div class="row">
  <div class="contenido-fondo-blanco col-xs-12 col-sm-9 col-md-9">
    <ul class="author-list horizontal-list-oscuras">
      <div class="row">
        {% for autor in site.data.autores %}
          {% if autor.name == page.author_name %}
            {% include templates/autor-description.html %}
          {% endif %}
        {% endfor %}
        {% for autor in site.data.contribuidores %}
          {% if autor.name == page.author_name %}
            {% include templates/autor-description.html %}
          {% endif %}
        {% endfor %}
      </div>
    </ul>
    <h2>Publicaciones</h2>
    <hr>
    {% for post in site.posts %}
      {% if post.author == page.author_name %}
        {% include article-section.html %}
      {% endif %}
    {% endfor %}
  </div>
</div>
