<div class="row">
  <div class="contenido-fondo-blanco col-xs-12 col-sm-9 col-md-9">
    <ul class="author-list horizontal-list-oscuras">
      <div class="row">
        {% for autor in site.data.autores %}
          {% if autor.name == page.author_name %}
            <div class="col-xs-3 col-sm-4 col-md-3">
              <img class="gravatar-img" src="http://www.gravatar.com/avatar/{{ autor.thumb }}" alt="gravatar">
            </div>
            <div class="col-xs-9 col-sm-8 col-md-9">
              <h1 class="underline-title">{{ autor.name }}</h1>
              {% include templates/autor-redes-sociales.html %}
              <p>{{ autor.description }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </ul>
    <h2>Publicaciones</h2>
    <hr>
    {% for post in site.posts %}
      {% if post.author == page.author_name %}
        {% include article-section.html %}
      {% endif %}
    {% endfor %}
  </div>
</div>
