<div class="row">
  <div class="contenido-fondo-blanco col-xs-12 col-sm-9 col-md-9">
    <ul class="author-list horizontal-list-oscuras">
      <div class="row">
        {% for autor in site.data.autores %}
          {% if autor.name == page.author_name %}
            <div class="hidden-xs col-sm-4 col-md-3">
              <img class="gravatar-img" src="http://www.gravatar.com/avatar/{{ autor.thumb }}" alt="gravatar">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
              <h1 class="underline-title">{{ autor.name }}</h1>
              {% if autor.github %}
                <li><a href="http://github.com/{{ autor.github }}"><i class="fa fa-github-square fa-3x"></i></a></li>
              {% endif %}
              {% if autor.facebook %}
                <li><a href="http://facebook.com/{{ autor.facebook }}"><i class="fa fa-facebook-square fa-3x"></i></a></li>
              {% endif %}
              {% if autor.twitter %}
                <li><a href="http://twitter.com/{{ autor.twitter }}"><i class="fa fa-twitter-square fa-3x"></i></a></li>
              {% endif %}
              {% if autor.gplus %}
                <li><a href="http://plus.google.com/{{ autor.gplus }}"><i class="fa fa-google-plus-square fa-3x"></i></a></li>
              {% endif %}
              {% if autor.linkedin %}
                <li><a href="http://www.linkedin.com/profile/view?id={{ autor.linkedin }}"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
              {% endif %}
              {% if autor.web %}
                <li><a href="http://{{ autor.web }}"><i class="fa fa-globe fa-3x"></i></a></li>
              {% endif %}
              {% if autor.email %}
                <li><a href="mailto:{{ autor.email }}"><i class="fa fa-envelope fa-3x"></i></a></li>
              {% endif %}
              <p>{{ autor.description }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </ul>
    <h2>Publicaciones</h2>
    <hr>
    {% for post in site.posts %}
      {% if post.author == page.author_name %}
        <article>
          <span class="date">{{ post.date | date_to_string }}</span>
          <h1>
            <a href="{{ post.url }}">{{ post.series.nombre }}: {{ post.title }}</a>
          </h1>
        </article>
      {% endif %}
    {% endfor %}
  </div>
</div>
