<section class="series-banner" style="background-color: #{{ page.bg-color }}; color: #{{ page.font-color }};">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h3>Serie</h3>
        {% for series in site.data.series %}
          {% if series.name == page.series_header %}
            <h1>{{ series.name }}</h1>
            <h4>{{ series.description }}</h4>
            {% capture thumb_path %} {{ series.thumb }} {% endcapture %}
            {% capture series_status %} {{ series.status }} {% endcapture %}
            {% capture series_url %} {{ series.url-series }} {% endcapture %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="contenido-fondo-blanco col-xs-12 col-sm-12 col-md-12">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h3>Artículos en esta serie</h3>
          {{ series_status }}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          {% include share-buttons.html %}
        </div>
      </div>
      <hr>
      <div class="row">
      {% assign sorted_pages = site.posts | sort:"name" %}
      {% for post in sorted_pages %}
        {% if post.categories contains page.post_cat %}
          {% assign num_post = forloop.index0 | modulo:4 %}
          {% if num_post == 0 %}
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3">
                <article class="center-in-div article-series">
                  <img class="img-center-responsive" src="{{ thumb_path }}" alt="thumbnail">
                  <h4>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                  </h4>
                  <p>
                    Por: <a href="/author/{{ post.author_login }}.html">{{ post.author }}</a>
                  </p>
                </article>
              </div>
          {% else %}
            <div class="col-xs-12 col-sm-6 col-md-3">
              <article class="center-in-div article-series">
                <img class="img-center-responsive" src="{{ thumb_path }}" alt="thumbnail">
                <h4>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </h4>
                <p>
                  Por: <a href="/author/{{ post.author_login }}.html">{{ post.author }}</a>
                </p>
              </article>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>
