<section class="series-banner" style="background-color: #{{ page.bg-color }}; color: #{{ page.font-color }};">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h3>Serie</h3>
        {% for series in site.data.series %}
          {% if series.name == page.series_header %}
            <h1>{{ series.name }}</h1>
            <h4>{{ series.description }}</h4>
            {% capture thumb_path %} {{ series.thumb }} {% endcapture %}
            {% capture series_status %} {{ series.status }} {% endcapture %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="contenido-fondo-blanco col-xs-12 col-sm-12 col-md-12">
      <h3>Artículos en esta serie</h3>
      {{ series_status }}
      <hr>
      {% for post in site.posts %}
        {% if post.categories contains page.post_cat %}
          <div class="col-xs-12 col-sm-6 col-md-3">
            <article class="center-in-div article-series">
              <img class="img-center-responsive" src="{{ thumb_path }}" alt="thumbnail">
              <h5>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h5>
              <p class="author">
                Por <a href="/author/{{ post.author_login }}.html">{{ post.author }}</a>
              </p>
            </article>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
