<!-- Ads section (right side) -->
<div class="hidden-xs col-sm-3 col-md-3 pull-right">
  <div class="center-in-div">
    <div class="ads-border">
      <!-- Paypal button -->
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="HRVX3L87PXE76">
        <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
        <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
      </form>
      <!-- Bitcoin button -->
      <a class="coinbase-button" data-code="b9ea495b8afaa5afe556c20fb04c3e6a" data-button-style="donation_small" href="https://coinbase.com/checkouts/b9ea495b8afaa5afe556c20fb04c3e6a">Donate Bitcoins</a>
      <!-- Sidebar add -->
      <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1352515212336214"
         data-ad-slot="4722539190"
         data-ad-format="auto">
      </ins>
    </div>
  <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
</div>
</div>
