<!-- Ads section (right side) -->
<div class="col-sm-3 col-md-3">
  <div class="center-in-div">
    <div class="ads-border">
      <!-- Sidebar add -->
      <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1352515212336214"
         data-ad-slot="4722539190"
         data-ad-format="auto">
      </ins>
    </div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
</div>
