<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="center-in-div">
      <!-- Middle ad -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-1352515212336214"
           data-ad-slot="4941035192"
           data-ad-format="rectangle">
      </ins>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
  </div>
</div>

