<footer>
  <div class="remove-footer-margin row">
    <div class="remove-footer-padding col-xs-12 col-sm-12 col-md-12">
      <div class="social-networks">
        <div class="remove-footer-margin row">
          <div class="col-xs-12 col-sm-push-2 col-sm-8 col-md-push-2 col-md-8">
            <h3 class="upcase letter-space">Mantente en contacto</h3>
            <h3>¡Queremos saber de tí!. Encuéntranos en las redes sociales para
              mantenernos al tanto.</h3>
            <ul class="horizontal-list">
              <li><a href="https://github.com/{{ site.brand.github }}" target="_blank"><i class="fa fa-github-square fa-5x"></i></a></li>
              <li><a href="https://twitter.com/{{ site.brand.twitter }}" target="_blank"><i class="fa fa-twitter-square fa-5x"></i></a></li>
              <li><a href="https://facebook.com/{{ site.brand.facebook }}" target="_blank"><i class="fa fa-facebook-square fa-5x"></i></a></li>
              <li><a href="https://plus.google.com/u/0/{{ site.brand.gplus }}" target="_blank"><i class="fa fa-google-plus-square fa-5x"></i></a></li>
              <li><a href="https://linkedin.com/groups/{{ site.brand.linkedin }}" target="_blank"><i class="fa fa-linkedin-square fa-5x"></i></a></li>
              <li><a href="{{ site.url }}/feed.xml"><i class="fa fa-rss-square fa-5x"></i></a></li>
              <li><a href="mailto:{{ site.brand.email }}"><i class="fa fa-envelope fa-5x"></i></a></li>
            </ul>
            <hr>
            <ul class="horizontal-list">
              <li><a href="/sobre-nosotros.html">Sobre Nosotros</a></li>
              <li class="horizontal-list-style-shits"><a href="/terminos-y-condiciones.html">Terminos y Condiciones</a></li>
              <li class="horizontal-list-style-shits"><a href="/politica-de-privacidad.html">Politica de Privacidad</a></li>
              <li class="horizontal-list-style-shits"><a href="/authors.html">Escritores</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="remove-footer-margin row">
          <div class="col-xs-12 col-sm-12 col-md-push-2 col-md-8">
            <p>CODEHERO &copy; 2013 - Todos los Derechos Reservados.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
