<!-- Pagination links -->
<div class="center-in-div">
  <ul class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li><a href="/">&laquo;</a></li>
      {% else %}
        <li><a href="{{ paginator.previous_page_path}}">&laquo;</a></li>
      {% endif %}
    {% else %}
      <li class="disabled"><a href="/">&laquo;</a></li>
    {% endif %}
        {% if paginator.page == 1 %}
          <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        {% else %}
        <li><a href="/">1</a></li>
        {% endif %}

      {% for count in (2..paginator.total_pages) %}
        <li>
          {% assign lowerLimit = paginator.page | minus:2 %}
          {% assign upperLimit = paginator.page | plus:2 %}
          {% assign endingLimit = paginator.total_pages | minus:2 %}
          {% assign endingLimit2 = paginator.total_pages | minus:3 %}
          {% if paginator.page <= 2 %}
            {% if count <= 5 %}
              {% if count == paginator.page %}
                <li class="active"><a href="#">{{ count }} <span class="sr-only">(current)</span></a></li>
              {% else %}
                <a href="/page{{ count }}">{{ count }}</a>
              {% endif %}
            {% endif %}
          {% elsif endingLimit <= paginator.page %}
            {% if count >= endingLimit2 %}
              {% if count == paginator.page %}
                <li class="active"><a href="#">{{ count }} <span class="sr-only">(current)</span></a></li>
              {% else %}
                <a href="/page{{ count }}">{{ count }}</a>
              {% endif %}
            {% endif %}
          {% else %}
            {% if count > lowerLimit and count <= upperLimit %}
              {% if count == paginator.page %}
                <li class="active"><a href="#">{{ count }} <span class="sr-only">(current)</span></a></li>
              {% else %}
                <a href="/page{{ count }}">{{ count }}</a>
              {% endif %}
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}

    {% if paginator.next_page %}
      <li>
        <a href="{{ paginator.next_page_path }}">&raquo;</a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="#">&raquo;</a>
      </li>
    {% endif %}
  </ul>
</div>
