{% if page.series_header %}
  <ul class="series-social pull-right">
    <li><a href="https://twitter.com/share" data-url="http://codehero.co/series/{{ series_url | replace: ' ', '' }}/" class="twitter-share-button" data-via="{{site.brand.twitter}}" data-lang="es">Twittear</a></li>
    <li class="g-plusone" data-href="http://codehero.co/series/{{ series_url | replace: ' ', '' }}/"></li>
    <li class="fb-like" data-href="http://codehero.co/series/{{ series_url | replace: ' ', '' }}/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></li>
  </ul>
{% else %}
  <ul class="social-inline">
    <li><a href="https://twitter.com/share" data-url="http://codehero.co{{ page.url }}/" class="twitter-share-button" data-via="{{site.brand.twitter}}" data-lang="es">Twittear</a></li>
    <li class="g-plusone" data-href="http://codehero.co{{ page.url }}/"></li>
    <li class="fb-like" data-href="http://codehero.co{{ page.url }}/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></li>
  </ul>
{% endif %}
