html, body {
  height: 100%;
  background-color: #f0f0f0;
}

a {
  &:hover {
    text-decoration: none !important;
  }
}

ul {
  padding-left: 0px;
  list-style: none;
}

pre {
  counter-reset: line-numbering;
  border: solid 1px #d9d9d9;
  border-radius: 0;
  background: #fff;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  overflow-x: auto;

  code {
    word-wrap: normal;
    white-space: pre;
    border: none !important;
  }

  a {
    &::before {
      content: counter(line-numbering);
      counter-increment: line-numbering;
      padding-right: 1em; /* space after numbers */
      width: 35px;
      text-align: center;
      display: inline-block;
      color: #aaa;
      background: #eee;
      margin-right: 16px;
      padding: 2px 10px;
      font-size: 13px;
      border-right: 1px solid #dedede;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &:first-of-type::before {
      padding-top: 10px;
    }

    &:last-of-type::before {
      padding-bottom: 10px;
    }

    &:only-of-type::before {
        padding: 10px;
    }
  }
}

i {
  color: rgba(255, 255, 255, 0.4);
  padding: 0 5px 0 5px;
  @include transition(all 0.3s ease-in-out);

  &:hover{
    color: #fff;
  }
}

article {
  border-bottom: solid 1px #ddd;
  padding: 8px;

  &:last-child {
    border-bottom: none;
  }
}

footer {
  margin-top: 32px;
}

// ads section
// ---------------------

.ads-border {
  border: 1px solid #ddd;
  border-radius: 0.50rem;
  background-color: #e9e6e1;
  margin-bottom: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
}

// .wrapper and .push classes are used for the sticky footer
// ---------------------------------------------------------

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -432px;
}

.push {
  height: 432px;
}

.remove-footer-padding {
  padding-right: 0;
}

.remove-footer-margin {
  margin-right: 0;
}

.navbar {
  text-transform: uppercase;
}

.date {
  color: $white-codehero;
  background-color: $orange-codehero;
  display: block;
  text-align: center;
  border-radius: 0.2rem;
  font-size: $font-size-base * 0.93; //~13px

  i {
    margin: 0 auto;
    padding: 0 0 0 2px;
    color: $white-codehero;
  }

  a {
    color: $white-codehero;

    &:hover {
      text-decoration: none;
    }
  }
}

.navbar-brand {
  font-size: 20px;
  letter-spacing: 4px;
  @include transition(all 0.3s ease-in-out);
}

// Centrar todos los thumbnails en series/index.html
// -------------------------------------------------
.series-banner {
  margin: -20px 0 30px 0;
  padding: 10px 0 40px 0;

  h1 {
    font-size: ($font-size-base * 3.0);
    margin: 10px 0 26px 0;
  }

  h3 {
    font-weight: 300;
    margin-bottom: 0;
  }

  h4 {
    font-weight: 300;
  }
}

.img-center-responsive {
  @include img-responsive();
  margin: 0 auto;
}

.center-in-div {
  text-align: center;
}

.article-series {
  padding: 8px;
  border-bottom: none;
}

.social-networks {
  padding: 39px 0 36px 0;
  background-color: #D35400;
  text-align: center;
  color: #eee;

  h3 {
    font-weight: 300;
  }
}

.series-social {
  padding-top: 24px;
  display: block;
  list-style: none;

  li {
    display: inline;
  }
}

.upcase {
  text-transform: uppercase;
}

.letter-space {
  @extend .upcase;
  letter-spacing: 4px;
}

.horizontal-list {
  margin-bottom: 0;

  a {
    text-decoration: none;
    color: $white-codehero;

    &:hover {
      color: rgba(255, 255, 255, 0.9);
    }
  }

  li {
    display: inline;
  }
}

.horizontal-list-oscuras {
  @extend .horizontal-list;

  a {
    color: $orange-codehero;

    &:hover {
      color: rgba(211, 84, 0, 0.9);
    }

    i {
      color: rgba(0, 0, 0, 0.5);
      padding-left: 5px;
      @include transition(all 0.3s ease-in-out);

      &:hover{
        color: #000;
      }
    }
  }
}

.horizontal-list-style-shits {

  &:before {
    font-size: 14px;
    padding: 0 10px;
    content: "\2022";
  }
}

.copyright {
  padding: 39px 0 36px 0;
  background-color: #333;
  text-align: center;
  font-size: 13px;
  color: #999;

  p {
    margin-bottom: 0;
  }
}

.contenido-fondo-blanco {
  border: solid 1px #ddd;
  background-color: #fff;
  border-radius: 0.50rem;
}

.gravatar-img {
  @include img-responsive();
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 0.50rem;
}

.underline-title {
  border-bottom: 1px solid #eeeeee;
}

/* This is a rewrite of the bootstrap 3 paginator class
 do not mess with this shit */
.pagination {
  margin: 20px 0 0 0;
  a {
    color: #E67E22;
  }
}

.scrollTo-top {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 20px;
  font-size: 32px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  z-index: 500;

  &:hover {
    @include transition(all 0.3s ease-in-out);
    background-color: rgba(0, 0, 0, 0.6);
  }

  i {
    padding: 3px 10px;
  }
}

.search-group {
  padding-bottom: 10px;
  i {
      color: rgba(0, 0, 0, 0.5);
  }
}
