body {
  background-color: #f0f0f0;
}

ul {
  padding-left: 0px;
  list-style: none;
}


i {
  color: rgba(255, 255, 255, 0.4);
  padding-left: 10px;
  @include transition(all 0.3s ease-in-out);

  &:hover{
    color: #fff;
  }
}

article {
  border-bottom: solid 1px #ddd;
  padding: 8px;
}

footer {
  margin-top: 32px;
}

.navbar {
  text-transform: uppercase;
}

.date {
  color: white;
  background-color: $orange-codehero;
  display: block;
  text-align: center;
  border-radius: 0.2rem;
}

.no-side-padding {
  padding-left: 4px;
}

.navbar-brand {
  font-size: 20px;
  letter-spacing: 4px;
  @include transition(all 0.3s ease-in-out);
}

.series-banner {
  margin: -20px 0 30px 0;
  padding: 10px 0 40px 0;

  h1 {
    font-size: ($font-size-base * 3.0);
    margin: 10px 0 26px 0;
  }

  h3 {
    font-weight: 300;
    margin-bottom: 0;
  }

  h4 {
    font-weight: 300;
  }
}

.center-in-div {
  text-align: center;
}

.article-series {
  padding: 8px;
  border-bottom: none;
}

.social-networks {
  padding: 39px 0 36px 0;
  background-color: #D35400;
  text-align: center;
  color: #eee;

  h3 {
    font-weight: 300;
  }
}

.upcase {
  text-transform: uppercase;
}

.letter-space {
  @extend .upcase;
  letter-spacing: 4px;
}

.horizontal-list {
  a {
    text-decoration: none;
  }

  margin-bottom: 0;

  li {
    display: inline;
  }
}

.horizontal-list-oscuras {
  @extend .horizontal-list;

  a {
    i {
      color: rgba(0, 0, 0, 0.5);
      padding-left: 5px;
      @include transition(all 0.3s ease-in-out);

      &:hover{
        color: #000;
      }
    }
  }
}

.horizontal-list-style-shits {

  &:before {
    font-size: 14px;
    padding: 0 10px;
    content: "\2022";
  }
}

.copyright {
  padding: 39px 0 36px 0;
  background-color: #333;
  text-align: center;
  font-size: 13px;
  color: #999;

  p {
    margin-bottom: 0;
  }
}

.contenido-fondo-blanco {
  border: solid 1px #ddd;
  background-color: #fff;
  border-radius: 0.50rem;
}

.gravatar-img {
  border-radius: 0.50rem;
  height: 150px;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.underline-title {
  border-bottom: 1px solid #eeeeee;
}

/* This is a rewrite of the bootstrap 3 paginator class
 do not mess with this shit */
.pagination {
  margin: 20px 0 0 0;
  a {
    color: #E67E22;
  }
}
