body {
  background-color: #f0f0f0;
}
.navbar {
  text-transform: uppercase;
}

.navbar-brand {
  font-size: 20px;
  letter-spacing: 4px;
  @include transition(all 0.3s ease-in-out);
}

.social-networks {
  padding: 39px 0 36px 0;
  background-color: #D35400;
  text-align: center;
  color: #eee;

  h3 {
    font-weight: 300;
  }
}

.upcase {
  text-transform: uppercase;
}

.letter-space {
  @extend .upcase;
  letter-spacing: 4px;
}

.horizontal-list {
  list-style: none;
  margin-bottom: 0;

  li {
    display: inline;
  }

  a {
    color: #eee;
  }
}

.horizontal-list-style-shits {

  &:before {
    font-size: 14px;
    padding: 0 10px;
    content: "•";
  }
}

.copyright {
  padding: 39px 0 36px 0;
  background-color: #333;
  text-align: center;
  font-size: 13px;
  color: #999;

  p {
    margin-bottom: 0;
  }
}
