html, body {
  height: 100%;
  background-color: #f0f0f0;
}

ul {
  padding-left: 0px;
  list-style: none;
}


i {
  color: rgba(255, 255, 255, 0.4);
  padding-left: 10px;
  @include transition(all 0.3s ease-in-out);

  &:hover{
    color: #fff;
  }
}

article {
  border-bottom: solid 1px #ddd;
  padding: 8px;
}

footer {
  margin-top: 32px;
}

// .wrapper and .push classes are used for the sticky footer
// ---------------------------------------------------------

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -432px;
}

.push {
  height: 432px;
}

.remove-footer-padding {
  padding-right: 0;
}

.remove-footer-margin {
  margin-right: 0;
}

.navbar {
  text-transform: uppercase;
}

.date {
  color: $white-codehero;
  background-color: $orange-codehero;
  display: block;
  text-align: center;
  border-radius: 0.2rem;
  font-size: $font-size-base * 0.93; //~13px

  i {
    margin: 0 auto;
    padding: 0 0 0 2px;
    color: $white-codehero;
  }

  a {
    color: $white-codehero;

    &:hover {
      text-decoration: none;
    }
  }
}

.navbar-brand {
  font-size: 20px;
  letter-spacing: 4px;
  @include transition(all 0.3s ease-in-out);
}

// Centrar todos los thumbnails en series/index.html
// -------------------------------------------------
.series {
  & img {
    margin: 0 auto;
  }
}

.series-banner {
  margin: -20px 0 30px 0;
  padding: 10px 0 40px 0;

  h1 {
    font-size: ($font-size-base * 3.0);
    margin: 10px 0 26px 0;
  }

  h3 {
    font-weight: 300;
    margin-bottom: 0;
  }

  h4 {
    font-weight: 300;
  }
}

.center-in-div {
  text-align: center;
}

.article-series {
  padding: 8px;
  border-bottom: none;
}

.social-networks {
  padding: 39px 0 36px 0;
  background-color: #D35400;
  text-align: center;
  color: #eee;

  h3 {
    font-weight: 300;
  }
}

.upcase {
  text-transform: uppercase;
}

.letter-space {
  @extend .upcase;
  letter-spacing: 4px;
}

.horizontal-list {
  margin-bottom: 0;

  a {
    text-decoration: none;
    color: $white-codehero;

    &:hover {
      color: rgba(255, 255, 255, 0.9);
    }
  }

  li {
    display: inline;
  }
}

.horizontal-list-oscuras {
  @extend .horizontal-list;

  a {
    color: $orange-codehero;

    &:hover {
      color: rgba(211, 84, 0, 0.9);
    }

    i {
      color: rgba(0, 0, 0, 0.5);
      padding-left: 5px;
      @include transition(all 0.3s ease-in-out);

      &:hover{
        color: #000;
      }
    }
  }
}

.horizontal-list-style-shits {

  &:before {
    font-size: 14px;
    padding: 0 10px;
    content: "\2022";
  }
}

.copyright {
  padding: 39px 0 36px 0;
  background-color: #333;
  text-align: center;
  font-size: 13px;
  color: #999;

  p {
    margin-bottom: 0;
  }
}

.contenido-fondo-blanco {
  border: solid 1px #ddd;
  background-color: #fff;
  border-radius: 0.50rem;
}

.gravatar-img {
  border-radius: 0.50rem;
  height: $alto-gravatar-de-autor;
  width: $ancho-gravatar-de-autor;
  margin-top: 20px;
  margin-bottom: 20px;
}

.underline-title {
  border-bottom: 1px solid #eeeeee;
}

/* This is a rewrite of the bootstrap 3 paginator class
 do not mess with this shit */
.pagination {
  margin: 20px 0 0 0;
  a {
    color: #E67E22;
  }
}

.scrollTo-top {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 20px;
  font-size: 32px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  z-index: 500;

  &:hover {
    @include transition(all 0.3s ease-in-out);
    background-color: rgba(0, 0, 0, 0.6);
  }

  i {
    padding: 3px 10px;
  }
}
