@media (max-width: $screen-xs-min) {
  .date {
    max-width: 100%;
  }

  .post {
    .video-center-responsive {
      margin-top: 12px !important;
      margin-bottom: 12px !important;
      height: 180px;
    }
  }
}

@media (max-width: $screen-sm-min) {
  .date {
    margin: 0 auto;
    border-radius: 0.2rem 0.2rem 0 0;
    width: $ancho-thumbnail-de-series;

    i {
      font-size: $font-size-base * 0.93; //~13px
    }
  }

  .author-list {
    padding-bottom: 10px;

    p {
      padding-top: 4px;
      text-align: left;
    }

    i {
      margin-top: 4px;
      font-size: 20px;
      padding: 0px;
    }

    .underline-title {
      padding-top: 16px;
      text-align: left;
    }
  }

  img, h1, a, p {
    margin: 0 auto;
    text-align: center;
  }

  .post {
    .post-header {
      p {
        text-align: center;
      }
    }

    .social-inline {
      text-align: center;
    }
  }

  .series-social {
    padding-top: 10px;
    text-align: center;
  }
}

@media (max-width: $screen-md-min) {
  h1 {
    font-size: $font-size-base * 1.7; // ~24px
  }

  h2 {
    font-size: $font-size-base * 1.25; // ~18px
  }

  .post {
    padding-top: 6px;

    .no-border-padding {
      height: 100px;
    }

    .post-header {
      p {
        font-size: 0.7em;
      }
    }

    .detalles-tutorial {
      li {
        display: block;
      }
    }
  }
}

@media (min-width: $screen-md-max) {
  .date {
    padding: 6px 8px 4px 8px;
    border-radius: 0.4rem;
  }

  .remove-column-padding {
    padding-left: 7px;
    padding-right: 7px;
  }
}
