@media (max-width: $screen-xs-min) {
  .date {
    max-width: 100%;
  }
}

@media (max-width: $screen-sm-min) {
  .date {
    margin: 0 auto;
    border-radius: 0.2rem 0.2rem 0 0;
    width: $ancho-thumbnail-de-series;

    i {
      font-size: $font-size-base * 0.93; //~13px
    }
  }

  img, h1, a, p {
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: $screen-md-min) {
  h1 {
    font-size: $font-size-base * 1.7; // ~24px
  }
}

@media (min-width: $screen-md-max) {
  .date {
    padding: 6px 8px 4px 8px;
    border-radius: 0.4rem;
  }

  .remove-column-padding {
    padding-left: 7px;
    padding-right: 7px;
  }
}
