.post {
  padding-top: 14px;

  img {
    @include img-responsive();
    margin: 0 auto;
    border: 1px solid #eeeeee;
    background: transparent;
    padding: 10px 12px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  p {
    text-align: left;
  }

  .no-border-padding {
    border: none;
    padding: 0;
    height: 150px;
  }

  .detalles-tutorial {
    background-color: #f0f0f0;
    margin-top: -21px;
    margin-bottom: -22px;
    padding-top: 20px;
    padding-bottom: 21px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}

.fa-oscuro {
  color: black;
  font-size: 90px;

  &:hover {
    color: inherit;
    transition: none;
  }
}
