.post {
  padding-top: 14px;

  color: $article-font-color;

  a {
    color: $post-link-color;

    &:hover {
      color: rgba(230, 126, 34, 0.8);
    }
  }

  ul {
    list-style-type: square;
    padding-left: 30px;
  }

  code {
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid #ddd;
  }

  img {
    @include img-responsive();
    margin: 0 auto;
    border: 1px solid #eeeeee;
    background: transparent;
    padding: 10px 12px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .video-center-responsive {
    @extend img;
    width: 480px;
    height: 320px;
  }

  p {
    text-align: left;
  }

  .social-inline {
    padding-left: 0;
    display: block;
    list-style: none;

    li.fb-like.fb_iframe_widget span {
      vertical-align: baseline !important;
    }

    li {
      display: inline;
    }
  }

  #social-block {
    ul {
      margin-top: 10px;
    }

    li {
      display: block !important;
    }
  }

  .post-header {
    h1 {
      color: $article-title-color;
    }
  }

  .no-border-padding {
    border: none;
    padding: 0;
    height: 150px;
    border-radius: $thumbnail-border-radius;
  }

  .detalles-tutorial {
    background-color: #f0f0f0;
    margin-top: -21px;
    margin-bottom: -22px;
    padding-top: 20px;
    padding-bottom: 21px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .post-ordered-list {
    display: none;
  }

  .post-author-thumb {
    vertical-align: top;
    padding: 0;
    border-radius: 0.4rem;
  }

  .post-content {
    padding: 0px 15px;
    font-size: 17px;
    line-height: 2;
  }
}

.fa-oscuro {
  color: black;
  font-size: 90px;

  &:hover {
    color: inherit;
    transition: none;
  }
}
