// Edit the local variables file to
@import "my-fontawesome-vars";
@import "my-bootstrap-vars";
@import "font-awesome/font-awesome";
@import "bootstrap/bootstrap";
@import "syntax";
@import "main";
@import "posts";
@import "media-queries";
