---
layout: default
title: Series - Codehero
description: Página de series de Codehero, aquí encontrarás fácilmente todos los capítulos de las series que más te gustan Laravel, Git Python, MongoDB, jQuery, y más
---
<div class="row">
  <div class="contenido-fondo-blanco col-xs-12 col-sm-9 col-md-9">
    <h1>Series</h1>
    <hr>
    {% for series in site.data.series %}
      <article class="articulos-series">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <img class="img-center-responsive" src="{{ series.thumb }}" alt="foto">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-8">
            <h1><a href="/series/{{ series.url-series }}.html">{{ series.name }}</a></h1>
            <div class="author">
              <p>{{ series.status }}</p>
              <p>Autor: <a href="/author/{{ series.author-url }}.html">{{ series.author }}</a></p>
            </div>
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
  {% include ads-section.html %}
</div>
